.content{
    .form-blog{
        max-width: 450px;
    }
    .form-sub{
        margin-bottom: -49px;
    }
    .form .errormessage{
        display: inherit;
        font-size: 13px;
    }
    .signup-bottomNames{
        display: inline-flex;
        margin-top: 20px;
    }
    .signup-bottomNames h6{
        padding-right: 15px;
    }
}

