.filter_section{
    margin: 15px auto;
    padding: 20px 0;
    border: 1px solid #e3d7d7;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px #cfc6c6;
    button.btn{
        font-size: 14px;
    }
}